<div>
  <p [innerHTML]="book.volumeInfo.description"></p>
</div>
<div>
  <b>Publisher: </b><span>{{book.volumeInfo.publisher}}</span>
</div>
<div>
  <b>Published date: </b><span>{{book.volumeInfo.publishedDate | date:'short'}}</span>
</div>
<div>
  <b>Average rating: </b><span>{{book.volumeInfo.averageRating}}</span>
  <b> Ratings count: </b><span>{{book.volumeInfo.ratingsCount}}</span>
</div>
<div>
  <b>maturityRating: </b><span>{{book.volumeInfo.maturityRating}}</span>
</div>
<div *ngIf="book.accessInfo.webReaderLink">
  <b><a [href]='book.saleInfo.buyLink || book.accessInfo.webReaderLink'>Google Play</a></b>
  <br>
  <b><a [href]='book.accessInfo.webReaderLink'>Reader</a></b>
</div>
