<h3>Filters</h3>
<div class="row">
  <div class="col-6 col-md-3">
    <div class="form-group">
      <label for="title">Title</label>
      <input [formControl]="searchTitle" class="form-control" id="title">
    </div>
  </div>
  <div class="col-6 col-md-3">
    <div class="form-group">
      <label for="rating">Average rating</label>
      <input [formControl]="ratingMoreThenEqual" class="form-control" id="rating" placeholder="More than equal">
    </div>
  </div>
  <div class="col-6 col-md-3">
    <div class="form-group">
      <label for="author">Author</label>
      <input [formControl]="searchAuthor" class="form-control" id="author">
    </div>
  </div>
  <div class="col-6 col-md-3">
    <div class="form-group">
      <label for="isEbook">Ebook</label>
      <input type="checkbox" [formControl]="isEbook" class="form-control w-auto" id="isEbook">
    </div>
  </div>
</div>
<div class="row flex-column-reverse flex-sm-row">
  <div *ngIf="selectedBook" class="col-12 col-sm-6 justify-content-center"
       [ngClass]="{'d-none': !isPreviewOpen, 'd-flex': isPreviewOpen}">
    <app-book-preview [book]="selectedBook"></app-book-preview>
  </div>
  <div [ngClass]="{'col-sm-6': isPreviewOpen}" class="col-12">
    <table class="table text-center table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col" class="d-none" [ngClass]="{'d-md-table-cell': !isPreviewOpen}">Publisher</th>
        <th scope="col">Average rating</th>
        <th scope="col" class="d-none" [ngClass]="{'d-md-table-cell': !isPreviewOpen}">Ratings count</th>
        <th scope="col" class="d-none" [ngClass]="{'d-sm-table-cell': !isPreviewOpen}">Authors</th>
        <th scope="col" class="d-none" [ngClass]="{'d-sm-table-cell': !isPreviewOpen}">Page count</th>
        <th scope="col">Ebook</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage};
      let i = index;" (click)="openPreview(book)">
        <th>{{itemsPerPage * (currentPage - 1) + i + 1}}</th>
        <td>{{book.volumeInfo.title}}</td>
        <td class="d-none" [ngClass]="{'d-md-table-cell': !isPreviewOpen}">
          {{book.volumeInfo.publisher}}
        </td>
        <td class="d-none" [ngClass]="{'d-md-table-cell': !isPreviewOpen}">{{book.volumeInfo.averageRating}}</td>
        <td>{{book.volumeInfo.ratingsCount}}</td>
        <td class="d-none" [ngClass]="{'d-sm-table-cell': !isPreviewOpen}">{{book.volumeInfo.authors}}</td>
        <td class="d-none" [ngClass]="{'d-sm-table-cell': !isPreviewOpen}">{{book.volumeInfo.pageCount}}</td>
        <td>{{book.saleInfo.isEbook}}</td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
